* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #30353a;
  font-family: "Raleway", sans-serif;
}

.nav {
  background-color: black;
  width: 100%;
}

.nav .nav-item {
  height: 4vw;
  justify-content: end;
  display: flex;
  color: white;
  gap: 5vw;
  font-size: large;
  padding-right: 6vw;
  padding-top: 2vw;
  text-decoration: none;
}
.nav .nav-item .home a,
.my-skills a,
.my-projects a,
.contact-me a {
  text-decoration: none;
  color: white;
}

.nav .logo img {
  display: flex;
  position: absolute;
  height: 4vw;
  width: 4vw;
  margin-top: 0.5vw;
  left: 2vw;
}

.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.container-1 .left-side {
  padding-left: 10rem;
  padding-top: 4rem;
}

.container-1 .left-side .text1,
.text2,
.text4 {
  color: white;
  font-size: 3rem;
}

.container-1 .left-side .text4 {
  font-size: 1.5rem;
}

.container-1 .left-side .text3 {
  color: #11c1ae;
  font-size: 2rem;
}

.container-1 .left-side .button {
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
  gap: 4rem;
  height: 3.5rem;
}

.container-1 .left-side .button1 {
  width: 9rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  padding-top: 0.2rem;
  color: white;
  background: radial-gradient(
    107.5% 218.47% at 11.67% 29.12%,
    #048c7e 0%,
    #11c1ae 100%
  );
  border: 4px solid #11c1ae;
  box-shadow: -3px -5px 30px rgba(185, 185, 185, 0.27),
    8px 8px 30px rgba(0, 0, 0, 0.71);
  border-radius: 60px;
}

.container-1 .left-side .button2 {
  width: 13rem;
  text-align: center;
  align-items: center;
  padding-top: 0.2rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: #11c1ae;
  background: rgba(48, 53, 58, 0.66);
  border: 4px solid #11c1ae;
  box-shadow: -3px -5px 30px rgba(185, 185, 185, 0.27),
    8px 8px 30px rgba(0, 0, 0, 0.71);
  border-radius: 60px;
}

.container-1 .left-side .follow {
  margin-top: 3rem;
  font-size: 2rem;
  color: white;
}

.container-1 .left-side .socials {
  display: flex;
  margin-top: 0.4rem;
  flex-direction: row;
  font-size: 2.3rem;
  gap: 2rem;
  text-decoration: none;
  color: white;
}
.container-1 .left-side .socials .insta a {
  text-decoration: none;
  color: white;
}
.container-1 .left-side .socials .tele a {
  text-decoration: none;
  color: white;
}
.container-1 .left-side .socials .twit a {
  text-decoration: none;
  color: white;
}
.container-1 .left-side .socials .linked a {
  text-decoration: none;
  color: white;
}

.container-1 .right-side .image img {
  width: 20rem;
  height: 20rem;
  padding-top: 10rem;
  padding-left: 20vw;
}

.container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  justify-items: center;
}
.head2 {
  display: flex;
  width: 100%;
  height: 20rem;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.container-2 .p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
  width: 15rem;
  height: 12rem;
  color: white;
  background: linear-gradient(
    131.51deg,
    #32363c 0%,
    rgba(50, 54, 60, 0.55) 95.73%
  );
  box-shadow: -3px -5px 30px rgba(185, 185, 185, 0.27),
    8px 8px 30px rgba(0, 0, 0, 0.71);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.801);
  padding-top: 7vh;
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.head3 {
  display: flex;
  width: 100%;
  height: 20rem;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}

.container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  justify-items: center;
}
.container-3 .s1,
.s2,
.s3 {
  width: 13rem;
  height: 10rem;
  font-size: 1.5rem;
  background: linear-gradient(
    131.51deg,
    #32363c 0%,
    rgba(50, 54, 60, 0.55) 95.73%
  );
  box-shadow: inset -5px -7px 40px rgba(185, 185, 185, 0.43),
    inset 8px 8px 40px rgba(0, 0, 0, 0.99);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.801);
  padding-top: 7vw;
  text-align: left;
  padding-left: 2vw;
  padding-right: 1vw;
}

.container-3 .c1 .s1 .sk1 .arr1,
.c2 .s2 .sk2 .arr2,
.c3 .s3 .sk3 .arr3 {
  color: #11c1ae;
  font-size: 3rem;
  margin-left: -0.3rem;
}

.container-3 .c1 .s1 .sk1 hr,
.c2 .s2 .sk2 hr,
.c3 .s3 .sk3 hr {
  height: 0px;
  margin-top: 13px;
  width: 100px;
  background-color: #11c1ae;
  background: #11c1ae;
  border: 2px solid #11c1ae;
}
.container-3 .c1,
.c2,
.c3 {
  display: flex;
}

.container-3 .c1 .s1,
.c2 .s2,
.c3 .s3 {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.container-3 .c1 .s1 .sk1,
.c2 .s2 .sk2,
.c3 .s3 .sk3 {
  backface-visibility: hidden;
  overflow: hidden;
  position: absolute;
}

.container-3 .c1 .s1 .i1,
.c2 .s2 .i2,
.c3 .s3 .i3 {
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  transform: rotateY(180deg);
  font-size: 1rem;
  position: absolute;
  margin-right: 1.5rem;
}

.head4 {
  display: flex;
  width: 100%;
  height: 20rem;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}

.container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  justify-items: center;
}

.container-4 .pro1 a {
  text-decoration: none;
  color: white;
}

.container-4 .pro2 a {
  text-decoration: none;
  color: white;
}

.container-4 .pro1,
.pro2 {
  width: 15rem;
  height: 12rem;
  color: white;
  text-decoration: none;

  background: linear-gradient(
    131.51deg,
    #32363c 0%,
    rgba(50, 54, 60, 0.55) 95.73%
  );
  box-shadow: inset -5px -7px 40px rgba(185, 185, 185, 0.43),
    inset 8px 8px 40px rgba(0, 0, 0, 0.99);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.801);
  padding-top: 7vh;
  text-align: left;
  padding-left: 2vw;
}

.container-4 .pro1 .app1 {
  font-size: 2rem;
}

.container-4 .pro2 .app2 {
  font-size: 2rem;
}

.container-4 .pro1 .lm1 {
  font-size: 1rem;
  padding-top: 3rem;
  display: flex;
}

.container-4 .pro2 .lm2 {
  font-size: 1rem;
  padding-top: 3rem;
  display: flex;
}

.container-4 .pro1 .lm1 .arrow1 {
  color: #11c1ae;
  font-size: 1rem;
  padding-bottom: 3rem;
}

.container-4 .pro2 .lm2 .arrow2 {
  color: #11c1ae;
  font-size: 1rem;
}

.contactme {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  margin-top: 4rem;
  flex-direction: column;
  justify-items: center;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}

.contact {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact .name-email {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding-top: 3rem;
}

.contact .name-email .name input {
  background-color: #30353a;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #11c1ae;
  width: 22rem;
  height: 3rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.contact .name-email .email input {
  background-color: #30353a;
  color: #000000;
  border: none;
  border-bottom: 2px solid #11c1ae;
  width: 22rem;
  height: 3rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.contact .message textarea {
  background-color: #30353a;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #11c1ae;
  width: 50rem;
  height: 3rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  font-family: "Raleway", sans-serif;
}

.contact .send input {
  display: flex;
  width: 8rem;
  height: 3.5rem;
  text-align: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 300;
  color: #11c1ae;
  background: rgba(48, 53, 58, 0.66);
  border: 3px solid #11c1ae;
  box-shadow: -3px -5px 30px rgba(185, 185, 185, 0.27),
    8px 8px 30px rgba(0, 0, 0, 0.71);
  border-radius: 18px;
  margin-top: 3rem;
  margin-left: 40%;
  font-family: "Raleway", sans-serif;
}

.footer {
  background-color: black;
  width: 100%;
  margin-top: 4rem;
}

.footer .socials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 2rem;
  color: white;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.footer .socials .insta a {
  text-decoration: none;
  color: white;
}

.footer .socials .tele a {
  text-decoration: none;
  color: white;
}

.footer .socials .twit a {
  text-decoration: none;
  color: white;
}

.footer .socials .linked a {
  text-decoration: none;
  color: white;
}

.footer .tnc {
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

.footer .copyright {
  font-size: 1rem;
  color: #aaacb0;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

/* ANIMATION CSS */

.container-1 .left-side .socials .insta a:hover {
  color: black;
}
.container-1 .left-side .socials .tele a:hover {
  color: black;
}
.container-1 .left-side .socials .twit a:hover {
  color: black;
}
.container-1 .left-side .socials .linked a:hover {
  color: black;
}

.footer .socials .insta a:hover {
  color: #30353a;
}

.footer .socials .tele a:hover {
  color: #30353a;
}

.footer .socials .twit a:hover {
  color: #30353a;
}

.footer .socials .linked a:hover {
  color: #30353a;
}

.container-1 .left-side .button1:hover {
  color: #11c1ae;
  background: rgba(48, 53, 58, 0.66);
  border: 4px solid #11c1ae;
  box-shadow: -3px -5px 30px rgba(185, 185, 185, 0.27),
    8px 8px 30px rgba(0, 0, 0, 0.71);
  border-radius: 60px;
}

.container-1 .left-side .button2:hover {
  color: white;
  background: radial-gradient(
    107.5% 218.47% at 11.67% 29.12%,
    #048c7e 0%,
    #11c1ae 100%
  );
  border: 4px solid #11c1ae;
  box-shadow: -3px -5px 30px rgba(185, 185, 185, 0.27),
    8px 8px 30px rgba(0, 0, 0, 0.71);
  border-radius: 60px;
}

.contact .send input:hover {
  color: white;
  background: radial-gradient(
    107.5% 218.47% at 11.67% 29.12%,
    #048c7e 0%,
    #11c1ae 100%
  );
  border: 4px solid #11c1ae;
  box-shadow: -3px -5px 30px rgba(185, 185, 185, 0.27),
    8px 8px 30px rgba(0, 0, 0, 0.71);
}

.container-3 .c1 .s1:hover,
.c2 .s2:hover,
.c3 .s3:hover {
  transform: rotateY(180deg);
  background: linear-gradient(
    230.69deg,
    #32363c -0.5%,
    rgba(50, 54, 60, 0.55) 98.82%
  );
  box-shadow: 3px -5px 30px rgba(185, 185, 185, 0.27),
    -8px 8px 30px rgba(0, 0, 0, 0.71);
  border-radius: 25px;
}

.container-2 .p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.p6:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container-4 .pro1:hover,
.pro2:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: linear-gradient(
    131.51deg,
    #32363c 0%,
    rgba(50, 54, 60, 0.55) 95.73%
  );
  box-shadow: -3px -5px 30px rgba(185, 185, 185, 0.27),
    8px 8px 30px rgba(0, 0, 0, 0.71);
  border-radius: 25px;
}

@media screen and (min-width: 100px) and (max-width:1000px) {
  .container-1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .container-1 .left-side {
    padding-left: 10rem;
    padding-top: 4rem;
    padding-right: 10rem;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .container-1 .right-side .image img {
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 10rem;
    width: 14rem;
    height: 14rem;
  }
  .container-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }
  .container-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    justify-items: center;
  }
  .container-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    justify-items: center;
  }
}
